
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #000000;
    padding: 20px 10px;
}
.header-container{
    display: flex;
  align-items: center;
    
}

.menu a{
    color: #FF4500 ;
    font size: 16px;
    padding: 14px;
    border-radius: 4px;
}
nav {

    display: flex;
    align-items: center;
    
}
.images{
    display: flex;
    float: left;
    flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 580px) {

}


